@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    background-color: #fbe7c6;
    color: #333;
}
.container {
    margin-top: 50px;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    border: none;
    background-color: #ff6b6b;
    color: white;
    border-radius: 5px;
}
button:hover {
    background-color: #ff4757;
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #121212;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Mono';
    z-index: 999;
}

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid white;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


